<div id="home-content">
  <div id="city-links">
    <h3 class="section-title">Cidades disponíveis</h3>
    <% @locations.each do |location| %>
      <%= link_to location.city, city_list_inns_path(city: "#{location.city}"), class: 'clean-link' %>
    <% end %>
  </div>
  <div id="home-body">
    <h2 class='section-title'>Novidades em Pousadaria</h2>

    <section id="recent-inns">
        <% @recent_inns.each do |inn| %>  
          <div class="recent-inn-div">
            <h3 class="section-title">
              <%= link_to inn.brand_name, inn, class: 'clean-link' %>
            </h3>
            <h4 class="section-title"><%= inn.address.city %></h4>
            <% if inn.reviews.present? %>
            <p><%= "Nota média: #{number_with_precision(inn.average_rating, precision: 2)}" %></p>
            <% end %>
          </div>
        <% end %>
    </section>

    <section id="remaining-inns">
      <h2 class="section-title">Demais Pousadas</h2>
      <% @inns.each do |inn| %>
        <h3 class="section-title"><%= link_to inn.brand_name, inn, class: 'clean-link' %></h3>
      <% end %>
    </section>
  </div>
</div>