<h2 class="section-title"><%= "Adicionar fotos em " + @room.name %></h2>

<% if @album.errors.any? %>
  <% @album.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>

<p>Formatos permitidos de imagem: JPEG e PNG</p>
<p>As imagens devem ser relacionadas a sua pousada</p>

<%= form_with model: [@room, @album] do |f| %>
  <%= f.label :photos, 'Fotos' %>
  <%= f.file_field :photos, multiple: true %>

  <%= f.submit 'Enviar' %>
<% end %>