<h2 class="section-title">Faça sua Reserva - <%= @room.name %></h2>

<% if @reservation.errors.any? %>
  <% @reservation.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
<% end %>

<%= form_with model: [@room, @reservation] do |f| %>
  <%= f.label :start_date %>
  <%= f.date_field :start_date %> <br>
  <%= f.label :end_date %>
  <%= f.date_field :end_date %> <br>
  <%= f.label :number_guests %>
  <%= f.number_field :number_guests %>

  <%= f.submit 'Continuar com Reserva' %>
<% end %>