<%= form_with model: [@inn, @room] do |f| %>
  <section id="room-informations">
    <div id="room-name">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div id="room-description">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div id="room-area">
      <%= f.label :area %>
      <%= f.number_field :area %>
    </div>
    <div id="room-capacity">
      <%= f.label :max_capacity %>
      <%= f.number_field :max_capacity %>
    </div>
    <div id="room-rent-price">
      <%= f.label :rent_price %>
      <%= f.number_field :rent_price, step: 0.01 %>
    </div>
  </section>

  <section id="room-ammenities">
    <h3 class="section-title">Comodidades do Quarto</h3>
    <p>Marque apenas as comodidades que seu quarto oferece aos hóspedes</p>
    <div class="form-boolean-checkboxes">
      <div>
        <%= f.check_box :has_bathroom, {}, 'true', 'false' %>
        <%= f.label :has_bathroom %> <br>
      </div>
      <div>
        <%= f.check_box :has_balcony, {}, 'true', 'false' %>
        <%= f.label :has_balcony %> <br>
      </div>
      <div>
        <%= f.check_box :has_air_conditioner, {}, 'true', 'false' %>
        <%= f.label :has_air_conditioner %> <br>
      </div>
      <div>
        <%= f.check_box :has_tv, {}, 'true', 'false' %>
        <%= f.label :has_tv %> <br>
      </div>
      <div>
        <%= f.check_box :has_wardrobe, {}, 'true', 'false' %>
        <%= f.label :has_wardrobe %> <br>
      </div>
      <div>
        <%= f.check_box :has_vault, {}, 'true', 'false' %>
        <%= f.label :has_vault %> <br>
      </div>
      <div>
        <%= f.check_box :is_accessible, {}, 'true', 'false' %>
        <%= f.label :is_accessible %> <br>
      </div>
    </div>
  </section>

  <section id="room-status">
    <h3 class="section-title">Disponibilidade do Quarto</h3>
    <p>Marque a opção abaixo para seu quarto aparecer em buscas e receber reservas.</p>
    <p>Caso o quarto esteja indisponível, ele não aparecerá em buscas e não receberá reservas.</p>
    <div>
      <%= f.check_box :status, {}, 'active', 'inactive' %>
      <%= f.label :status %>
    </div>
  </section>

  <%= f.submit %>
<% end %>