<h1><%= "Quarto #{@room.name}" %></h1>
<%= link_to "Voltar para #{@inn.brand_name}", inn_path(@inn) %>

<% if user_signed_in? && @inn.user == current_user %>
  <%= @room.active? ? "Quarto disponível para reservas" : "Quarto indisponível para reservas" %>
<% end %>

<section id="room-info">
  <p><%= @room.description %></p>

  <h2>Sobre o Quarto</h2>
  <dl>
    <dt>Área:</dt>
    <dd><%= "#{@room.area} m²" %></dd>
    <dt>Capacidade:</dt>
    <dd><%= "#{@room.max_capacity} pessoas" %></dd>
    <dt>Valor da Diária:</dt>
    <dd><%= number_to_currency @room.rent_price %></dd>
  </dl>
</section>

<section id="room-amenities">
  <h2>Comodidades do Quarto</h2>
  <dl>
    <dd><%= I18n.t("amenities.has_bathroom.#{@room.has_bathroom?}") %></dd>
    <dd><%= I18n.t("amenities.has_balcony.#{@room.has_balcony?}") %></dd>
    <dd><%= I18n.t("amenities.has_air_conditioner.#{@room.has_air_conditioner?}") %></dd>
    <dd><%= I18n.t("amenities.has_tv.#{@room.has_tv?}") %></dd>
    <dd><%= I18n.t("amenities.has_wardrobe.#{@room.has_wardrobe?}") %></dd>
    <dd><%= I18n.t("amenities.has_vault.#{@room.has_vault?}") %></dd>
    <dd><%= I18n.t("amenities.is_accessible.#{@room.is_accessible?}") %></dd>
  </dl>
</section>