<!DOCTYPE html>
<html>
  <head>
    <title>Pousadaria</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <h1 id="page-title">Pousadaria</h1>
      <% end %>
    </header>
    <nav>
      <div id="nav-search">
        <%= form_with url: search_inns_path, method: :get do |f| %>
          <%= f.label :query, 'Procurar Pousada' %>
          <%= f.text_field :query %>
          <%= f.submit 'Buscar Pousada' %>
        <% end %>
      </div>
      <div id="nav-links">
        <% if user_signed_in? %>
          <%= current_user.email %>
          <% if current_user.host? %>
            <%= link_to 'Minha Pousada', my_inn_path, class: 'nav-button' %>
          <% end %>
          <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: 'nav-button btn-to' %>
        <% else %>
          <%= link_to 'Seja um Pousadeiro', new_user_registration_path, class: 'nav-button' %>
          <%= link_to 'Entrar', new_user_session_path, class: 'nav-button' %>
        <% end %>
      </div>
    </nav>

      <div id="flash-msgs">
        <% if notice.present? %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert.present? %>
          <p class="alert"><%= alert %></p>
        <% end %>
      </div>

    <div id="views-area">
      <%= yield %>
    </div>
  </body>
</html>
